

*{
	padding: 0px;
	margin: 0px;
}
.wrapper{
	width: 1000px;
	height:auto;
	border: 1px solid #000;
	margin: auto;
}
.header{
	width: 100%;
	height: 120px;
	border: 1px solid #000;
}
.menu{
	width: 100%;
	height: 40px;
	border: 1px solid #000;
}
.menu ul{
	width: 100%;
	height: 40px;
	list-style: none;
}
.menu ul li{
	width: auto;
	height: 40px;
	float: left;
	padding: 20px;
	line-height: 0px;
	font-size: 15px;
}
.menu ul li a{
	color: black;
}
.menu ul li a:hover{
	color: blue;
}
.menu ul li a:active{
	background-color: yellow;
}
.body{
	width: 100%;
	height: auto;
	border: 1px solid #000;
}
.body-left{
	width: 350px;
	height: auto;
	border: 1px solid #000;
	float: left;
}
.body-right{
	width: 645px;
	height: auto;
	border: 1px solid #000;
	float: right;

}
.clear{
	clear:both;
}
.h3 a{
	color: red;
}





